/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/medialibrary
/vendor

.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea

# DS store for mac
*.DS_Store
.DS_Store
