#reportsTable_wrapper .dataTables_length {
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

#reportsTable_wrapper .dt-buttons {
  display: none;
}

#reportsTable_wrapper .dt-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#reportsTable_wrapper .block {
  display: block;
}

#reportsTable_wrapper .block .dataTables_paginate {
  float: right;
}

.page-item.active .page-link {
  background-color: #379588;
  border-color: #379588;
}

.page-item .page-link {
  color: #379588;
}

.dataTables_filter {
  display: none;
}

.login-page {
  background-image: linear-gradient(135deg, #7cccbe 0%, #256059 100%);
  background-attachment: fixed;
  height: 100%;
}

.login-logo {
  text-align: center;
  margin-top: 3rem;
}

.login-logo a {
  font-size: 1.4rem;
  color: #ffffff;
}

.login-logo small {
  font-size: 1rem;
}

.login-form {
  background-color: #ffffff;
  padding: 1rem;
  margin-top: 1.8rem;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

