$primary: #379588;
$white: #ffffff;

#reportsTable_wrapper {
  .dataTables_length {
    margin-top: 0.4rem;
    margin-bottom: 1rem;
  }

  .dt-buttons {
    display: none;
  }

  .dt-footer {
    display: flex;
    align-items: center;
  }

  .block {
    display: block;

    .dataTables_paginate {
      float: right;
    }
  }
}

.page-item {
  &.active {
    .page-link {
      background-color: $primary;
      border-color: $primary;
    }
  }

  .page-link {
    color: $primary;
  }
}

.dataTables_filter {
  display: none;
}

.login {
  &-page {
    background-image: linear-gradient(
      135deg,
      rgb(124, 204, 190) 0%,
      rgb(37, 96, 89) 100%
    );
    background-attachment: fixed;
    height: 100%;
  }

  &-logo {
    text-align: center;
    margin-top: 3rem;

    a {
      font-size: 1.4rem;
      color: $white;
    }

    small {
      font-size: 1rem;
    }
  }

  &-form {
    background-color: $white;
    padding: 1rem;
    margin-top: 1.8rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
}

// dropzone style
.dropzone {
  border: 2px dashed #dedede;
  border-radius: 5px;
  background: #f5f5f5;
}

.dropzone i {
  font-size: 5rem;
}

.dropzone .dz-message {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
  font-size: initial;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-direction: column;
}
