body {
  margin: 0;
}

.navbar-brand {
  margin-right: 50px;
}

.navbar {
  height: 60px;
}

.navbar-nav .nav-item .nav-link {
  color: black;
  font-weight: 600;
  padding: 3px 30px;
}

#patient,
#dash, #reports {
  color: rgb(255, 189, 89);
  background-color: rgb(54, 57, 63);
  -webkit-border-radius: 12px;
  /* -moz-border-radius: 20px;
  -ms-border-radius: 20px; */
}

.panel1 {
  margin-top: 80px;
}

.panel2 {
  margin-top: 100px;
}

.panel3 {
  margin-top: 10px;
}

.card {
  background: #fff;
  min-height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 2px 10px rgb(255, 189, 89); */
  position: relative;
  margin-bottom: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  margin: 0 auto;
  padding: 20px;
}

.card2 {
  background: #fff;
  min-height: 50px;
  /* box-shadow: 0 2px 10px rgb(255, 189, 89); */
  position: relative;
  margin-bottom: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  margin: 0 auto;
  padding: 20px;
}

.card3 {
  background: #fff;
  min-height: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 2px 10px rgb(255, 189, 89); */
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  margin: 0 0;
}

.card-body {
  padding: 0px;

  -webkit-box-flex: 1;
}

#btn-submit {
  color: rgb(255, 189, 89);
  font-weight: 600;
}

td {
  margin
}
